{% extends "bootstrap/base.html" %}
{% block title %} Image Occlusion Task {% endblock title %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/lib/jquery-ui.css')}}">  
<link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}">
{% endblock head %}


{%block content%}
    
    <div id="task-container">
        <div class ="container">
            <div class="row justify-content-center" style="text-align: center;">
                <span class="col-sm-4"></span>
                <label class="control-label col-sm-4" for="user_answer">Please enter the number you see in this image</label>
                <span class="col-sm-4"></span>
            </div>
            <div class="row justify-content-center">
                <span class="col-sm-4"></span>
                <div class="col-sm-4">
                    <input id="user_answer" class="form-control"  type="number" min="0" max="9" placeholder="0" required>
                </div>
                <span class="col-sm-4"></span>
            </div>
            <br>
            <div class="row justify-content-center">
                <span class="col-sm-4"></span>
                <div class="col-sm-4">
                    <button class=" form-control btn btn-primary" name="submit" id="submit-task" onclick="submit_result()">Submit</button>
                </div>
                <span class="col-sm-4"></span>
            </div>
        </div>
        <br>
        <div class="container-lg" id="relativing">
            <div id="mnist_image_container">
                <img id="mnist_image"src={{image_url}}>
            </div>
            <div id="canvasHolder"></div>
        </div>       
    </div>

    <div class="container" id="loader-container">
        <div class="flexbox">
            <div class="loader"></div>
        </div>
        <h1 id="loader-title">Processing response. Please wait...</h1>
    </div>
    <div id="points_container">
        <p>Score</p>
        <h1 id="points"></h1>
    </div>

{%endblock content%}

{% block scripts %}
  {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/p5.js')}}"></script>
   <script src="{{ url_for('static', filename='js/lib/jquery-ui.js')}}" ></script>
   <!-- have available the actual label on javascript -->
   <script type="text/javascript">
    var actual_label = "{{label}}";
    var current_task_number = "{{current_task_number}}";
    var max_task_number = "{{max_task_number}}";
    var MNIST_dataset_index = "{{MNIST_dataset_index}}"
    var task_eraser_size = "{{eraser_size}}";
    var current_user_id = "{{current_user_id}}";
    var last_task_submitted_id = "{{last_task_submitted_id}}"
    task_eraser_size = parseInt(task_eraser_size);
    console.log("Actual Label: ",actual_label);
    console.log("Current task number: ",current_task_number);
    console.log("Max Task number: ",max_task_number);
    console.log("MNIST Dataset Index: ",MNIST_dataset_index)
    console.log("Eraser Size", task_eraser_size);
    console.log("Current User ID",current_user_id)
    console.log("Last task number",last_task_submitted_id)
    </script>
   <script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}

